<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS - Item Index</title>
</head>
<body>
    <ul>
        {{#each items}}
        <li>
          Item:  {{name}}, Quantity: {{qty}}, Description: {{description}} </li>
        {{/each}}
    </ul>
</body>
</html>